body {
	margin: 0;
	background-color: #707070;
}

/*Clearfix*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

#content {
	width: 1024px;
	margin: 27px auto;
}

#content .containers {
	float: left;
	height: 675px;
}

#content #categories {
	position: relative;
	width: 289px;
	background-color: #686868; 
}

#content #categories #categ-options {
	background-color: #484848;
    bottom: 0;
    height: 40px;
    width: 289px;
}

#content #categories #categ-options #add-categ {
	float: left;
	width: 50px;
	height: 30px;
	margin: 5px 0 5px 20px;
	background: url("img/add.png") no-repeat center;
}

#content #categories #categ-options #edit-categ {
	float: left;
	width: 50px;
	height: 30px;
	margin: 5px 0px;
	background: url("img/edit.png") no-repeat center;
}

#content #categories #categ-options #del-categ {
	float: left;
	width: 50px;
	height: 30px;
	margin: 5px 0px;
	background: url("img/delete.png") no-repeat center;
}

#content #tasks {
	width: 735px;
	height: 625px;
}

#content #categories .category {
	background-color: #484848;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: -4px 11px 24px -11px #686868 inset;
    height: 40px;
    padding-top: 10px;
    width: 100%;
    margin-top: -2px;
	cursor: default;
}

#content #categories .category p {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: 700;
	margin: 0 50px 0 70px;
	padding-left: 30px;
	background: url("img/list.png") left no-repeat;
	background-size: 20px;
}


/* ---------------------------- TASKS ------------------------------ */
#content #tasks {
	padding: 25px 0;
	background-color: #fff;
}

#content #tasks .task {
	position: relative;
	float: left;
	width: 180px;
	min-height: 180px;
	max-height: 300px;
	margin-left: 25px;
	margin-bottom: 20px;
	background: url("img/post-it-note.png") no-repeat;
	background-size: 200px;
	
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	padding: 20px;
}

#content #tasks .task p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	margin: 20px;
}

#content #tasks .pin {
	position: absolute;
	top: -12px;
	left: -12px;
	background: url("img/pin.png") center no-repeat;
	width: 25px;
	height: 25px;
	ransform:rotate(-92deg);
	-ms-transform:rotate(-92deg); 
	-webkit-transform:rotate(-92deg);
	-moz-transform:rotate(-92deg);
}

#content #tasks .status {
	position: absolute;
    right: 18px;
    top: 0;
    width: 63px;
}

#content #categories .selected p {
	color: #FF9900;
}

#content form {
	margin: 25px 0 10px 25px;
}

#content textarea {
	height: 44px;
    width: 250px;
	border: 0;
}

#edit_btn {
	display: none;
}